* {
    box-sizing: border-box;
    
  }

  main {
    padding: 5%;
     }

  input[type=checkbox] {
    background-color: #ffffffc3;
    border: 1px solid #35599F;
    border-radius: 10px;
    padding: 50px;

     }

   textarea {
    width: 100%;
    padding: 12px;
    background-color: #ffffffc3;
    border: 1px solid #35599F;
    border-radius: 10px;
    resize: vertical;
  }
  
  h2 {
    color: #35599F;
    font-size: 35px;
    text-align: center;

  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #4770b1fa;
    font-size: x-large;
  }
  
  input[type=submit] {
    background-color: #4770b1;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 3px 4px 4px 0px #375286 ;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #211c3ad0;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ebebeb68;
    padding: 20px;
    
  }
  
  .container2 {
    padding: 100px;
    padding-inline: 100px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }