:root{
    --font-one: 'Castoro Titling', cursive;
    --font-two: 'Jost', sans-serif;
    --font-three: 'Roboto', sans-serif;
    --pink: #F2AEC7;
    --purple: #7A85BF;
    --blue: #C9E2F2;
    --yellow: #F2CD88;
    --orange: #D96B43;
}

