.formContainer{
  padding: 20px;
  position: relative;
  z-index: 3;
}

.content{
  position: relative;
  z-index: 4;
}
.sideBar {
  height: 100vh;
  padding: 0;
}

.sideBar li {
  padding: 5px 10px;
  list-style: none;
}

.title{
    font-family: var(--font-two);
    font-weight: bold;
    padding: 3px 10px;
    margin: 0px;
    position: relative;
    z-index: 4;
}

.text{
  font-family: var(--font-one);
  font-size: 14px;
  position: relative;
  z-index: 4;
}

.sumitButton{
  display: inline-block;
  font-family: var(--font-three);
  color: var(--purple);
  background-color: var(--blue);
  border: solid 1px var(--yellow);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 25px;
  margin: 7px 15px;
  transition: all 1s;
  position: relative;
  z-index: 4;
}

.sumitButton:hover{
  color: var(--orange);
  background-color: var(--purple);
  border-color: var(--pink);
  box-shadow: 0 0 5px #7480bd;
}